@font-face {
    font-family: 'LXGW WenKai';
    src: url('font/LXGWWenKai-Regular.woff2') format('woff2'),
        url('font/LXGWWenKai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'its';
    src: url('font/its.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira';
    src: url('font/FiraCode-Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}